rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /convoys/{convoy} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.ownerUID;
    }
  }
}